.Person {
  width: 60%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  text-align: center;
  background-color: #ddd;
}

.TextInput {
  padding: 0.5rem;
  font-weight: 600;
  font-size: 1.125rem;
}
